@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Comforter+Brush&family=Dancing+Script&display=swap');
/*@font-face{
    font-family: 'AdventPro',cursive;
    src: url(../fonts/AdventPro-Medium.ttf);
}*/
body{
    font-family: 'Comforter Brush',sans-serif;
}