@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Comforter+Brush&family=Dancing+Script&display=swap');
/*@font-face{
    font-family: 'AdventPro',cursive;
    src: url(../fonts/AdventPro-Medium.ttf);
}*/
/***************************CONFIGURATION GENERALE ******************/
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    font-family: 'Comforter Brush',sans-serif;
}
h1{
    font-size: 3.4rem;
    font-weight: 200;
}
h2{
    font-size: 2.5rem;
    font-weight: 250;
    letter-spacing: -1px;
}
a,a:visited{
    color: black;
    text-decoration: none;
}
p{
    line-height: 36px;
    margin: 25px 0;
}
.button{
    border: 1px solid #ccc;
    background: transparent;
    border-radius: 50px;
    padding: 13px 30px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font: 700 0.75rem 'Comferter Brush';
    transition: 0.9s ease-in-out;
}
.button:hover, footer a:hover{
    border: 1px solid skyblue;
    color: skyblue;

}
/*******************************CONFIGURATION UNIQUE***********************************/
header{
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 100vh;
}
.img-banner{
    background: url(../img/banner.jpg) right/cover;
}

/***********************SECTION 1**************************/
.section-1{
    display: grid;
    grid-template-columns: 37% 63%;
    min-height: 500px;
}
.section-1 .img{
    background: url(../img/img-left.jpg) center/cover;
}

/********************SECTION 2**********************/
.section-2{
    display: grid;
    grid-template-columns: 65% 35%;
    min-height: 400px;
}
.section-2 .img{
    background: url(../img/img-right.jpg) center/cover;
}
